/* --------------------------------------------------------------- Globální nastavení --------------------------------------------------------------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color:#fff;
    --second-color:#4D4D4D;
    --main-color:#ED9010;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font:1.1rem;
}

html,body{
    background: var(--text-color);
    color: var(--bg-color);
    scroll-behavior: smooth;
}

/* --------------------------------------------------------------- Hlavička --------------------------------------------------------------- */

header{
    width: 100%;
    position:  fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    right: 0;
    top: 0;
    background: var(--text-color);
    padding: 15px 8%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.menu{
    display: flex;
}

span{
    color: var(--main-color);
}

.menu a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.menu a:hover{
    color: var(--main-color);
}

.menu a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left:  25px;
    display: none;
}
/* --------------------------------------------------------------- úvod --------------------------------------------------------------- */
.home{
    position: relative;
    height: 77vh;
    width: 100%;
    background-image: url(images/uvod.png);
    background-size: cover;
    background-position: center;
}

.uvod-div{
    width: 100%;
    display: flex;
    margin-top: 5%;
}
.uvod-left{
    width: 30%;
    background-color: var(--second-bg-color);
    margin-left: 6%;
}

.uvod-left h2{
    color: #fff;
    margin: 35px;
    font-size: 50px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.uvod-left p{
    color: #fff;
    margin: 35px;
}

.tlacitko{
    background-color: var(--main-color);
    align-items: center;
    margin-left: 35px;
    padding: 10px;
    border-radius: 8%;
    border: 10px;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}

.tlacitko:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}


.uvod-right{
    width: 70%;
    background-image: url(images/uvod-fotka.png);
    padding-top: 25%;
    margin-right: 6%;
}

.text-pod{
    width: 100%;
    display: flex;
}
.pod-left{
    width: 50%;
    margin-left: 6%;
    margin-top: 4%;
}

.pod-left h2{
    color: var(--second-bg-color);
    padding-bottom: 20px;
}

.pod-right{
    width: 50%;
    display: flex;
    padding-top: 4%;
    padding-left: 4%;
    align-items: center;
}

.pod-right ul{
    display: flex;
}

.pod-right ul li img{
    width: 60%;
    border-radius: 5%;
}

.pod-right ul li img:hover{
    width: 60%;
    border-radius: 5%;
    transform: scale(1.1);
    transition-duration: 1s;
}

.podivat{
    width: 80%;
    text-align: right;
    color: var(--main-color);
    font-weight: 700;
    font-style: italic;
}

.podivat:hover{
    transform: scale(1.01);
    transition-duration: 1s;
}

/*  */

/* --------------------------------------------------------------- Nadpisy --------------------------------------------------------------- */
.nadpis-main{
    text-align: center;
    background-color:var(--second-bg-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-style: italic;
    margin-top: 5rem;
}

.nadpis-main h2{
    color: var(--main-color); 
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}
/*  */

/* --------------------------------------------------------------- sluzby --------------------------------------------------------------- */
.sluzby-obsah{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.stavba{
    background-color:var(--main-color);
    background-image: url(images/stavba\ pc.png);
    padding: 85px 40px;
    border-radius: 10px;
    transition: all .45s ease;
}

.recenzovani{
    background-color:var(--main-color);
    background-image: url(images/recenzovani.png);
    padding: 85px 40px;
    border-radius: 10px;
    transition: all .45s ease;
}

.zurnalistika{
    background-color:var(--main-color);
    background-image: url(images/zurnalistika.png);
    padding: 85px 40px;
    border-radius: 10px;
    transition: all .45s ease;
}

.sluzby-obsah p{
    color: var(--text-color);
    font-size: 20px;
    margin-bottom: 15px;
}

.sluzby-obsah h3{
    font-size: 28px;
    font-weight: 800;
    font-style: italic;
    color: var(--text-color);
    margin-bottom: 15px;

}
/* */

.pole:hover{
    transform: translateY(-8px);
    cursor: pointer;
}
 
/* --------------------------------------------------------------- galerie --------------------------------------------------------------- */
.galerie, .onas{
    margin-top: 6rem;
}

.galerie-obsah{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.vrstva{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), var(--second-bg-color));
    position: absolute;
    border-radius: 10px;
    flex-direction: column;
    left: 0;
    bottom: 0;
    color: var(--text-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.vrstva h5{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.vrstva p{
    font-size: 1rem;
    line-height: 1.8;
}

.fa-link, .fa-user{
    color: var(--bg-color);
    background-color: var(--text-color);
    margin-top: 20px;
    font-size: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;  
    padding: 0.4rem; 
}

.row:hover img{
    transform: scale(1.1rem);
}

.row:hover .vrstva{
height: 100%;
}
/* --------------------------------------------------------------- recenze --------------------------------------------------- */
.container-rating{
    display: grid;
    position: relative;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.rating{
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #202020;
    max-width: 600px;
    padding: 4rem 3rem 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--text-color);
    border-radius: 1rem;
    box-shadow: 0 0 1em rgba(0,0,0,.2);
}

.rating h3{
    font-size: 1.5rem;
}

.rating :hover{
    transform: translateY(-8px);
    transition: all .45s ease;
    transform: scale(1.1rem);
    cursor: pointer;
    transition-duration: 1s;
}

.stars{
    margin: 2rem;
    display: flex;
    justify-content: center;
    list-style: none;
}

.fa-star{
    color: var(--main-color);
}
/*  */

/* --------------------------------------------------------------- O nás --------------------------------------------------------------- */

.onas-obsah{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.row-onas{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row-onas h2{
 font-size: 40px;
 font-style: italic;
 text-align: center;
 margin-top: 20px;
}

.row-onas img{
    width: 90%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.vrstva-onas{
    width: 90%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), var(--second-bg-color));
    position: absolute;
    border-radius: 10px;
    flex-direction: column;
    left: 0;
    bottom: 60px;
    color: var(--text-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.vrstva-onas h5{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
}

.vrstva-onas p{
    font-size: 1rem;
    line-height: 1.8;
}

.fa-user{
    color: var(--bg-color);
    background-color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;  
    padding: 0.4rem; 
}

.row-onas:hover img{
    transform: scale(1.1rem);
}

.row-onas:hover .vrstva-onas{
height: 100%;
}


/*  */

/* --------------------------------------------------------------- kontakty --------------------------------------------------------------- */
.contact{
    background-color: var();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.kontatky-obsah h4{
     color: var(--second-bg-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.kontakty-obsah h1{
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 1rem;
}

.seznam{
    margin-top: 1rem;
    margin-bottom: 2.8rem;
}

.seznam li{
    margin-bottom: 12px;
}

.seznam li a{
    display: block;
    color:var(--second-bg-color);
    font-size: 14px;
    transition: all .45 ease;
    font-style: italic;
    font-weight: 400;
}

.seznam li a:hover{
    color: var(--main-color);
    transform: translateX(5px);
    transition-duration: 1s;
}
/*  */

/* --------------------------------------------------------------- Media --------------------------------------------------------------- */
.fa-instagram, .fa-twitter,.fa-facebook,.fa-tiktok,.fa-youtube{
    height: 30px;
    width: 30px;
    padding: 0.5rem;
    background: var(--second-bg-color);
    color: var(--main-color);
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
    transition: all .45 ease;
}


.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-youtube:hover, .fa-calculator:hover, .fa-gamepad:hover,.fa-bolt:hover,.fa-tiktok:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}
/*  */

/* --------------------------------------------------------------- Kontakty a formulář --------------------------------------------------------------- */
.kontakty-formular form{
    position: relative;
}

.kontakty-formular form input, form textarea{
    width: 100%;
    padding: 14px;
    background-color:var(--second-bg-color) ;
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.kontakty-formular textarea{
    resize: none;
    height: 240px;
}

.kontakty-formular .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 200px;
    transition: all .45 ease;
}

.kontakty-formular .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 1s;
}
/*  */


.mapa{
    margin-left: 3rem;
}
 
/* --------------------------------------------------------------- Paticka --------------------------------------------------------------- */
.paticka{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--second-bg-color);
    color: var(--text-color);
    margin-top: 4rem;
}

.posledni-text p a{
    color: var(--main-color);
}

.fa-arrow-up{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-color);
    background: var(--main-color);
}
/*  */

/* --------------------------------------------------------------- responzivita --------------------------------------------------------------- */
@media (max-width:1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }
}

@media (max-width:840px){
    #menu-icon{
        display: block;
        color: var(--main-color);
    }

    .menu{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-bg-color);
        text-align: left;
        transition: all .45 ease;

    }
    .menu a{
        display: block;
        margin: 10px;
        font-size: 20px;
        transition: all .45 ease;
        color:var(--text-color)
    }

    .menu a:hover{
        color: var(--main-color);

    }

    .menu a.active{
        color: var(--text-color);
    }

    .uvod-div{
        width: 100%;
        display: grid;
        margin-top: 5%;
    }
    
    .uvod-right{
        width: 100%;
        height: 100%;
        background-image: url(images/hlavni-mobil.png);
        background-size: cover;
        margin-top: 50%;
        margin-right: 6%;
        grid-row: 1;
    }

    .uvod-left{
        width: 100%;
        background-color: var(--second-bg-color);
        grid-row: 2;
        margin-top: 50%;
        margin-left: 0;
        padding: 5%;
    }
}



